
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// * * * * * * * * * * * * * * * * Global Styles * * * * * * * * * * * * * * * *

img {
  max-width: 100%;
}

hr {
  width: 100px;
}

h1, h2, h3, h4, h5, h6, hr, p, label {
  color: #4B5857;
}

h1 {
  font-size: 3rem;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #C7CEBB;
  border-radius: 8px;
  height: 2.8em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #4B5857;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  line-height: 250%;
}


.btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
}
.btn:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em #C7CEBB;
          box-shadow: inset 0 0 0 10em #C7CEBB;
}

.page-hero {
  height: 100px;
}
// * * * * * * * * * * * * * * * * Navbar Styles * * * * * * * * * * * * * * * *
.navbar {
  background-color: rgba(#EBE4DA, .9);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.link-item li {
  color: #4B5857;
  font-size: 1rem;
  padding: 20px;
}

.logo img {
  height: 60px;
}

.link-item:hover {
  text-decoration: none;
  // border-bottom: 1px solid #4B5857;
  color: white;
}

.nav-links a {
  text-decoration: none;
  color: #707070;
}

.nav-links a:hover {
  border-bottom: #707070 1px solid;
}




// * * * * * * * * * * * * * * * * Welcome Styles * * * * * * * * * * * * * * * *
.fern {
  width: 500px;
  height: 600px;
  background-image: url("/img/fern.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover
}

.home-card {
  background-color: white;
  height: 400px;
  width: 750px;
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 15;
  margin: 0;
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0, 0, 0, 0.04);
          box-shadow: 5px 5px 11px -2px #aaaaaa;
}

.image-frame {
  background-image: url("/img/kristie.jpg");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  opacity: 0.8;
  width: 225px;
  height: 225px;
  border-radius: 115px;
  position: relative;
  top: 10%;
  left: 65%;
  margin: 0;
}

.navigation .nav-links li {
  display: inline-block;
  text-align: center;
  margin-top: 1.5em;
  // padding-right: 10em;
}

.nav-links li, h3, p {
  font-family: 'Courgette', cursive;
  color: #707070;
}

.text-area {
  padding-top: 2em;
  padding-left: 2em;
  position: absolute;
}

h1, h4 {
  font-family: 'Lobster', cursive;
}

h1, h3 {
  text-align: center;
}

.quote {
  margin-top: 4em;
  p {
    font-size: 12px;
  }
}

.hero {
  height: 600px;
  background-image: url("/img/computer.jpg");
  background-repeat: no-repeat;
  background-position: 90% 80%;
  background-size: cover;
  opacity: 0.3;
  position: relative;
}

.title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 180px;
  left: 0;
}

.name {
  letter-spacing: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.description {
  font-size: 17px;
}

 @-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

 @keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInFromLeft {
  -webkit-animation: 2s ease-out 0s 1 slideInFromLeft;
          animation: 2s ease-out 0s 1 slideInFromLeft;
}

@-webkit-keyframes slideInFromRight {
 100% {
   -webkit-transform: translateX(0);
           transform: translateX(0);
 }
 0% {
   -webkit-transform: translateX(100%);
           transform: translateX(100%);
 }
}

@keyframes slideInFromRight {
 100% {
   -webkit-transform: translateX(0);
           transform: translateX(0);
 }
 0% {
   -webkit-transform: translateX(100%);
           transform: translateX(500%);
 }
}

.slideInFromRight {
 -webkit-animation: 2s ease-out 0s 1 slideInFromRight;
         animation: 2s ease-out 0s 1 slideInFromRight;
}

.title-card p {
  line-height: 0.7;
}

//
// @media (min-width: 615px){
//   .work-btn {
//     position: absolute;
//     top: 0px;
//   }
// }
//
// @media (max-width: 400px){
//   .work-btn {
//     position: absolute;
//     top: 400px;
//   }
//   .featured-work-title {
//     font-size: 30px;
//   }
// }


// * * * * * * * * * * * * * * * * Works Pages Styles * * * * * * * * * * * * * * * *

.portfolio-container {
  background-color: white;
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0, 0, 0, 0.04);
          box-shadow: 5px 5px 11px -2px #aaaaaa;
  margin-bottom: 50px;
  padding: 0 50px 30px 50px;
  h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .column-1, .column-2 {
    padding-bottom: 50px;
  }
  .static-images {
    padding-bottom: 50px;
  }
}


// * * * * * * * * * * * * * * * * Footer Styles * * * * * * * * * * * * * * * *

footer {
  background: #D7DEDA;
}

.rgba-white-light {
  width: 80%;
}

.footer-menu a {
  text-decoration: none;
  color: #4b5857;
}

.footer-menu a:hover {
  text-decoration: line-through;
}

.icons {
  color: #4B5857;
  text-decoration: none;
}

.icons:hover {
  color: white;
  text-decoration: none;
}

// * * * * * * * * * * * * * * * * About Me Styles * * * * * * * * * * * * * * * *

.left-photo {
  height:100vh;
  width:60vw;
}

.left-photo img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 18% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 20% 0, 50% 100%, 0% 100%);
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 250% 20%;
     object-position: 250% 20%;
     opacity: 0.5;
}

.about-me {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.left-photo {
  float: left;
  height: 100vh;
  width: 60vw;
  float: right;
  background: url("/img/france.jpg") center no-repeat;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  shape-image-threshold: 0.5;
  shape-margin: 20px;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 50%);
          clip-path: polygon(30% 0, 100% 0, 100% 100%, 50% 100%);
  opacity: 0.5;
}

.content {
  position: relative;
  top: 10em;
  left:8em;
}

.content p {
  text-align: justify;
}

.date {
    border: 2px solid black;
}

//
// @media(max-width:768px){
//   .front img {
//     margin-left: 200px;
//   }
// }
//
// @media(max-width:991px){
//   .front img {
//     margin-right: 100px;
//   }
// }
// * * * * * * * * * * * * * * * * Portfolio Styles * * * * * * * * * * * * * * * *
.works-card {
  height: 500px;
  width: 1200px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 100px 20px 0 20px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0, 0, 0, 0.04);
          box-shadow: 5px 5px 11px -2px #aaaaaa;
}

.box {
  text-align: center;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 250px;
  img{
    // width: 100%;
    // height: 250px;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.box:hover img{-webkit-transform: scale3d(1.15, 1.15, 1);transform: scale3d(1.15, 1.15, 1);}
.box .box-content {
  width: 100%;
  height: 100%;
  padding-top: 35%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.box:hover .box-content{ opacity: 0.6;}
.box .box-content:before,
.box .box-content:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

.box .box-content:before{
    border-top: none;
    border-bottom: none;
    left: 30px;
    right: 30px;
}
.box .box-content:after{
    border-left: none;
    border-right: none;
    top: 30px;
    bottom: 30px;
}
.box:hover .box-content:before,
.box:hover .box-content:after{
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.box .content-inner {
  opacity: 0;
  -webkit-transition: scale(0);
  transition: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.box:hover .content-inner {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}


// * * * * * * * * * * * * * * * * Contact Styles * * * * * * * * * * * * * * * *


.contact-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), to(rgba(255,255,255,0.9))), url("/img/contact-fern.jpg");
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("/img/contact-fern.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 500px;
  width: 600px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-top: 100px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 11px -2px rgba(0, 0, 0, 0.04);
          box-shadow: 5px 5px 11px -2px #aaaaaa;
  h4 {
    color: #707070;
  }
}

.contact-card i {
  margin: 0 15px 0 15px;
  border: 1px solid #D7DEDA;
  background-color: #D7DEDA;
  border-radius: 25px;
  padding: 8px;
}
