
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// * * * * * * * * * * * * * * * * Global Styles * * * * * * * * * * * * * * * *

img {
  max-width: 100%;
}

hr {
  width: 100px;
}

h1, hr, p {
  color: #4B5857;
}

h1 {
  font-size: 3rem;
}

// * * * * * * * * * * * * * * * * Navbar Styles * * * * * * * * * * * * * * * *
.navbar {
  background-color: rgba(#EBE4DA, .9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.link-item {
  color: #4B5857;
  font-size: 1rem;
  padding: 20px;
}

.link-item img {
  height: 60px;
}

.link-item:hover {
  text-decoration: none;
  border-bottom: 1px solid #4B5857;
  color: #4B5857;
}

.fa-envelope {
  color: #4B5857;
}

.fa-envelope:hover {
  color: #C7CEBB;
}


// * * * * * * * * * * * * * * * * Hero Styles * * * * * * * * * * * * * * * *

.hero {
  height: 800px;
  background-image: url("/img/computer.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.3;
  position: relative;
}

.title-box {
  text-align: center;
  position: absolute;
  top: 420px;
  right: 260px;
}

.vertical-text {
  letter-spacing: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

 @keyframes slideInFromLeft {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideInFromLeft {
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromRight {
 100% {
   transform: translateX(0);
 }
 0% {
   transform: translateX(100%);
 }
}

.slideInFromRight {
 animation: 2s ease-out 0s 1 slideInFromRight;
}

.work-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 20em;
  margin-left: 15em;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #C7CEBB;
  border-radius: 8px;
  height: 2.8em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #4B5857;
  transition: color 0.3s 0.1s ease-out;
  // text-align: center;
  line-height: 250%;
}

.work-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.work-btn:hover {
  color: #fff;
  text-decoration: none;
}
.work-btn:hover::before {
  box-shadow: inset 0 0 0 10em #C7CEBB;
}

@media (max-width: 1050px){
  .title-box {
    position: absolute;
    top: 420px;
    right: 150px;
  }
}

@media (max-width: 800px){
  .title-box {
    position: absolute;
    top: 420px;
    right: 80px;
  }
}

@media (max-width: 400px){
  .title-box {
    position: absolute;
    top: 420px;
    left: 70px;
  }
}

// * * * * * * * * * * * * * * * * Portfolio Styles * * * * * * * * * * * * * * * *
.featured-work-title {
  text-align:center;
  margin-top: 50px;
}

.featured-work {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}
.box {
  height: 300px;
  width: 300px;
  background-color: #303A31;
  margin: auto;
}

// * * * * * * * * * * * * * * * * Footer Styles * * * * * * * * * * * * * * * *

footer {
  background: #C7CEBB;
}

.rgba-white-light {
  width: 80%;
}

// * * * * * * * * * * * * * * * * About Me Styles * * * * * * * * * * * * * * * *
.about-hero img {
  opacity: 0.4;
}


.about-image img {
  height: 250px;
  border-radius: 60px;
}

.about-box {
  margin-bottom: 30px;
  margin-top: 30px;
}

.about-textbox {
  padding-left: 100px;
  p {
    text-align: justify;
  }
}

.skills-textbox {
  padding-left: 100px;
  margin-top: 30px;
  text-align: center;
}

.bar, .fill {
  top: 0;
  left: 0;
  background: #C7CEBB;
  margin-top: 1em;
  padding-left: 1em;
  padding-bottom: .2em;
  transition-property: width;
  transition-duration: 1.1s;
  transition-timing-function: ease-in-out;
  transition-delay: 02s;
}

.icons img{
  height: 100px;
  margin: 20px;
}

.code img {
  width: 120px;
}

.user img {
  width: 100px;
}

.bike img {
  width: 120px;
}

.icons p {
  width: 300px;
  text-align: justify;
}



// * * * * * * * * * * * * * * * * Portfolio Styles * * * * * * * * * * * * * * * *

.portfolio-hero {
  height: 100px;
}

.card {
  width: 100px;
  height: 200px;
  background: red;
  padding: 30px;
}

.portfolio-container {
  margin-bottom: 70px;
}

// * * * * * * * * * * * * * * * * Blog Styles * * * * * * * * * * * * * * * *


.blog-card {
  text-align: center;
  padding: 150px;
}

.blog-image {
  border: 1px solid gray;
}

// * * * * * * * * * * * * * * * * Contact Styles * * * * * * * * * * * * * * * *

#map {
  margin-top: 80px;
  height: 400px;
  width: 100%;
}
