
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// * * * * * * * * * * * * * * * * Global Styles * * * * * * * * * * * * * * * *

img {
  max-width: 100%;
}

hr {
  width: 100px;
}

h1, hr, p {
  color: #4B5857;
}

h1 {
  font-size: 3rem;
}

// * * * * * * * * * * * * * * * * Navbar Styles * * * * * * * * * * * * * * * *
.navbar {
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.link-item {
  color: #4B5857;
  font-size: 1rem;
  padding: 20px;
}

.link-item img {
  height: 60px;

}


// * * * * * * * * * * * * * * * * Hero Styles * * * * * * * * * * * * * * * *

.hero {
  height: 800px;
  background-image: url("../img/computer.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.3;
  position: relative;
}

.title-box {
  text-align: center;
  position: absolute;
  top: 420px;
  right: 260px;
}

.vertical-text {
  letter-spacing: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

 @keyframes slideInFromLeft {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideInFromLeft {
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromRight {
 100% {
   transform: translateX(0);
 }
 0% {
   transform: translateX(100%);
 }
}

.slideInFromRight {
 animation: 2s ease-out 0s 1 slideInFromRight;
}

@media (max-width: 1050px){
  .title-box {
    position: absolute;
    top: 420px;
    right: 150px;
  }
}

@media (max-width: 800px){
  .title-box {
    position: absolute;
    top: 420px;
    right: 80px;
  }
}

@media (max-width: 400px){
  .title-box {
    position: absolute;
    top: 420px;
    left: 70px;
  }
}

// * * * * * * * * * * * * * * * * Portfolio Styles * * * * * * * * * * * * * * * *
.featured-work-title {
  text-align:center;
  margin-top: 50px;
}

.featured-work {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}
.box {
  height: 300px;
  width: 300px;
  background-color: #303A31;
  margin: auto;
}

footer {
  background: #C7CEBB;
}

.rgba-white-light {
  width: 80%;
}

// * * * * * * * * * * * * * * * * About Me Styles * * * * * * * * * * * * * * * *
.about-hero img {
  opacity: 0.4;
}

.about-title {
  text-align: center;
}

.about-image img {
  height: 300px;
  border-radius: 60px;
}

.about-box {
  margin-bottom: 30px;
  margin-top: 30px;
}

.about-textbox {
  padding: 50px;
}

// * * * * * * * * * * * * * * * * Portfolio Styles * * * * * * * * * * * * * * * *

.portfolio-hero {
  height: 100px;
}

.card {
  width: 100px;
  height: 200px;
  background: red;
  padding: 30px;
}

.portfolio-container {
  margin-bottom: 70px;
}

// * * * * * * * * * * * * * * * * Blog Styles * * * * * * * * * * * * * * * *


.blog-card {
  text-align: center;
  padding: 150px;
}

.blog-image {
  border: 1px solid gray;
}

// * * * * * * * * * * * * * * * * Blog Styles * * * * * * * * * * * * * * * *

#map {
  margin-top: 80px;
  height: 400px;
  width: 100%;
}
